---
import Layout from "@/layouts/Layout.astro";

import Title from "@/components/shop/Title.astro";
import Shop from "@/components/shop/Shop.astro";

---

<Layout title="Ivy's Pastries Shop.">
<div id="root">
  <Title/>
  <Shop/>
</div>
</Layout>

