---

---

<section
  class="lg:h-[60vh] bg-pink-200 mx-auto flex flex-column items-center justify-center flex-col md:flex-row gap-5 py-8 md:py-10 lg:py-2 px-5 lg:p-2"
>
  <div class="p-4 md:p-8 relative">
    <img
      class="relative z-10"
      src="https://static.wixstatic.com/media/8965ae_f15e2426e9f64deb847dcd422b1955eb~mv2.png/v1/fill/w_757,h_490,al_c,lg_1,q_90,enc_auto/favpng_delicious-cupcakes-muffin-frostin.png"
    />
    <div
      class="border-4 border-orange-400 flex-1 absolute top-10 left-20 bottom-10 right-20"
    >
    </div>
  </div>
  <div class="border-red-100 flex flex-col gap-8 lg:w-3/7">
    <h1 class="text-3xl md:text-4xl lg:text-5xl md:w-[18ch]">
      A Delicious Delight You'll Love
    </h1>

    <p class="md:w-[50ch] font-light leading-5">
      As a leading bakery in the CITY area, we are proud to serve up
      mouth-watering treats daily. Our freshly baked goods are made with the
      finest ingredients and served with love. Come visit us and treat yourself
      to the best baked goods in town.
    </p>

    <div class="flex justify-center md:justify-start">
      <button
        id="menu"
        class="bg-orange-400 text-white px-6 py-2 rounded-full hover:bg-white hover:text-orange-400 transition-all"
      >
        View Menu
      </button>
    </div>
  </div>
</section>
