---

---

<section
  class="bg-pink-200 mx-auto flex flex-column items-start justify-center flex-col gap-10 py-10 lg:py-20 px-10 md:items-center md:flex-row md:gap-5 md:py-16"
>
  <div class="border-red-100 flex flex-col gap-8 lg:w-3/7">
    <h1 class="text-3xl md:text-3xl lg:text-4xl md:w-[25ch]">
      TODAY’S SPECIAL BAKED FRESH FOR YOU.
    </h1>

    <p class="md:w-[50ch] font-light leading-5">
      Lorem ipsum dolor sit amet, his convenire similique efficiendi et, et ius
      brute tation inermis, movet labitur ea cum. Iusto civibus deseruisse. ​
    </p>

    <p class="md:w-[50ch] font-light leading-5">
      Lorem ipsum dolor sit amet, his convenire similique efficiendi et, et ius
      brute tation inermis, movet labitur ea cum. Iusto civibus deseruisse. ​
    </p>

    <div class="">
      <button
        id="menu"
        class="bg-orange-400 text-white px-6 py-2 rounded-full hover:bg-white hover:text-orange-400 transition-all"
      >
        View Menu
      </button>
    </div>
  </div>
  <div class="relative">
    <img
      class="w-[328.95px] h-[459.85px] lg:w-[387px] lg:h-[541px] z-10 relative"
      src='https://static.wixstatic.com/media/8965ae_b296dabd0ac944139a4514c42a77bb32~mv2.jpg/v1/fill/w_387,h_541,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/pexels-tim-douglas-6205509.jpg"'
    />
    <div
      class="w-[328.95px] h-[459.85px] lg:w-[387px] lg:h-[541px] left-[27px] top-[27px] absolute border-4 border-red-300"
    >
    </div>
  </div>
</section>
