---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

const entries = await contentfulClient.getEntries({
  content_type: "about"
});


// @ts-ignore
const image = "https:" + entries.items[0]?.fields?.image?.fields?.file?.url;
const title = entries.items[0].fields.title;
const description = entries?.items[0]?.fields?.description;
const facebook = entries?.items[0]?.fields?.facebookLink;
const instagram = entries?.items[0]?.fields?.instagramLink;
const whatsapp = entries?.items[0]?.fields?.whatsappLink;
---

<section
  class="bg-pink-200 mx-auto flex flex-column items-start justify-center flex-col gap-10 py-10 lg:py-20 px-10 md:items-center md:flex-row md:gap-5 md:py-16"
>
  <div class="border-red-100 flex flex-col gap-8 lg:w-3/7">
    <h1 class="text-3xl md:text-3xl lg:text-4xl md:w-[25ch]">
      {title}
    </h1>

    <article
      class="md:w-[50ch] font-light leading-5"
      set:html={// @ts-ignore
      documentToHtmlString(description)}
    />

    <div class="">
      <p>You can reach use on all social media platforms</p>
      <div class="flex gap-5 items-center mt-4">
        <a href={facebook as string}>
          <img
            class="w-6 h-6"
            src="https://www.svgrepo.com/show/452229/instagram-1.svg"
            alt="instagram"
          />
        </a>

        <a href={instagram as string}>
          <img
            class="w-6 h-6"
            src="https://www.svgrepo.com/show/475647/facebook-color.svg"
            alt="facebook"
          />
        </a>

        <a href={whatsapp as string}>
          <img
            class="w-6 h-6"
            src="https://www.svgrepo.com/show/134581/whatsapp.svg"
            alt="whatsapp"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="relative">
    <img
      class="w-[328.95px] h-[459.85px] lg:w-[387px] lg:h-[541px] z-10 relative"
      src={image}
    />
    <div
      class="w-[328.95px] h-[459.85px] lg:w-[387px] lg:h-[541px] left-[27px] top-[27px] absolute border-4 border-red-300"
    >
    </div>
  </div>
</section>
