---
import "keen-slider/keen-slider.min.css";
import { content } from "@/constants/content.ts";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

const entries = await contentfulClient.getEntries({
  content_type: "testimonials"
});

const testimonials = entries.items;

const data = Array.isArray(testimonials)
  ? testimonials.map((item: any) => {
      const comment = item.fields.comment;
      const name = item.fields.image.fields.title;
      const position = item.fields.image.fields.description;
      const image = "https:" + item.fields.image.fields.file.url;
      return {
        comment,
        name,
        position,
        image
      };
    })
  : [];
---

<section class="flex flex-col gap-5 md:gap-5 p-5 lg:px-10 py-20">
  <div class="flex flex-col justify-center items-center gap-5">
    <h1 class="text-3xl lg:text-4xl">
      What our Beautiful Customers Say About Us.
    </h1>
  </div>

  <div
    class="flex flex-col md:flex-row flex-wrap gap-5 justify-center items-center"
  >
    <div class="p-10 w-full lg:w-6/12 overflow-clip min-h-[10rem]">
      <div
        id="carousel"
        class="keen-slider flex flex-row w-full h-full"
      >
        {
          data.map((item) => (
            <div class="keen-slider__slide flex flex-col gap-3 md:gap-5 justify-center items-center">
              <img
                src="/stars.png"
                class="h-[100px] w-[155px] ml-[-10px]"
              />

              <h1 class="text-md md:text-lg text-center font-light">
                {item?.comment}
              </h1>

              <div class="my-4 flex flex-row justify-between">
                <div class="flex flex-row gap-2 items-center">
                  <img
                    src={item?.image}
                    class="rounded-full h-16 w-16 object-cover"
                  />
                  <div>
                    <p class="text-md font-bold">{item?.name}</p>
                    <p class="text-sm">{item?.position}</p>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import KeenSlider from "keen-slider";
  document.addEventListener("astro:page-load", () => {
    const slider = new KeenSlider(
      "#carousel",
      {
        loop: true,
        renderMode: "performance",
        drag: true,
        defaultAnimation: {
          duration: 2000
        }
      },
      [
        (slider) => {
          let timeout: number | undefined;
          let mouseOver = false;
          function clearNextTimeout() {
            clearTimeout(timeout);
          }
          function nextTimeout() {
            clearTimeout(timeout);
            if (mouseOver) return;
            timeout = setTimeout(() => {
              slider.next();
            }, 4000);
          }
          slider.on("created", () => {
            slider.container.addEventListener("mouseover", () => {
              mouseOver = true;
              clearNextTimeout();
            });
            slider.container.addEventListener("mouseout", () => {
              mouseOver = false;
              nextTimeout();
            });
            nextTimeout();
          });
          slider.on("dragStarted", clearNextTimeout);
          slider.on("animationEnded", nextTimeout);
          slider.on("updated", nextTimeout);
        }
      ]
    );
  });
</script>
