---
import { Image } from "astro:assets";
import HeaderUser from "./HeaderUser.tsx";
---

<header class="flex flex-row items-center p-4 mx-5 justify-between">
  <img
    src="/favicon.svg"
    alt="Logo"
    class="w-12 md:w-14"
  />

  <div class="flex flex-row gap-5 hidden md:flex">
    <a href="/">Home</a>
    <a href="/shop">Shop</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <!-- <HeaderUser client:load /> -->
  </div>

  <button class="md:hidden">
    <img
      src="https://www.svgrepo.com/show/511066/menu-alt-03.svg"
      alt="Menu"
      class="w-10"
    />
  </button>
</header>
